[Desktop Entry]
Type=Application
Version=1.0
Name=Install EducatuX
GenericName=Calamares Installer
Exec=install-educatux
Comment=Calamares — Installer for EducatuX Live
Keywords=calamares;system;install;educatux;installer
Icon=install-educatux
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
