[Desktop Entry]
Type=Application
Version=1.0
Name=Install CeubOS
GenericName=Calamares Installer
Exec=install-ceubos
Comment=Calamares — Installer for ceubOS
Keywords=calamares;system;install;educatux;installer
Icon=install-educatux
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
